body{
    font-weight:bold;
}
.collector-cart-wrapper{
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}
.collector-checkout-table-head{
    font-size:14px;
    color:#7c7c7c;
    font-family: 'Open Sans', sans-serif;
    font-weight:900 !important;
    margin-bottom:10px;
    border-bottom: 4px solid rgb(214, 210, 210);
    padding-bottom: 10px;
}
.collector-checkout-price{
    margin-top: -20px;
    margin-left: 54%;
    color:#7c7c7c;
}
.collector-checkout-price-head{
    margin-top: -20px;
    margin-left: 54%;
}
.collector-checkout-qty{
      margin-left: 72%;
	  margin-top:-20px;
}
.collector-checkout-qty-head{
    margin-top: -20px;
    margin-left: 73%;
}
.collector-checkout-sum{
    margin-top: -50px;
    margin-right: 1%;
    color:#7c7c7c;
	float: right;
}
.collector-checkout-sum-head{
    margin-top: -20px;
    margin-right: 3%;
    color:#7c7c7c;
	float: right;
}
.collector-checkout-name p{
    font-size:14px;
    color:#000;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
}
.collector-checkout-name dd {
	font-style:normal;
	font-weight:normal;
}
.collector-checkout-line{
    border-top:2px solid #d0d3d4;
    width:700px;
}
.collector-checkout-img{
    float:left;
}
.totals{
    margin-top:10px;
    width:55.5%;
    /*margin-left:54%;*/
    color:#7c7c7c;
    float: right;
}

td .name{
    margin-left:365px;
}
h1{
    font-size:14px !important;
    margin:10px 0px 10px!important;
    color:#7c7c7c !important;
    font-weight:700;
}

.inc {
    padding: 0px;
}

.sub {
    padding: 0px;
}

div.checkout {
    width: 100%;
    float: right;
}

div.column.main{
    display:none;
}

button.inc {
    width: 35px;
    height: 37px;
    color:#000;
    background-color:#fff;
    margin-top: -57px;
    margin-left: 44px;
	border: 1px solid #f3f3f3;
	  border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    font-weight:bold;
    font-size: 24px;
}

button.sub {
    width: 35px;
    height: 37px;
    color:#000;
    background-color:#fff;	
    margin-top:-9px;
    margin-left: -25px;
	border: 1px solid #f3f3f3;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    font-weight:bold;
    font-size: 25px;
} 
.collector-checkout-product-qty{
    height:17px;
    width:19px;
    background-color:#f3f3f3;
    padding:10px 12px 10px;
    margin-top: -37px;
    margin-left:10px;
    
}
.col-cart-wrapper{
    padding-left: 0px;
    padding-right: 0px;
    
    
}

.collector-cart-table th{
    font-size:14px;
    color:#7c7c7c;
    font-family: 'Open Sans', sans-serif;
    width:718px;
    text-align:right;
}

@media (max-width: 500px){
    .col-cart-wrapper{
        width:33%;
        margin-left: 10px;
        align-self: center;
    }
}
div.checkout{
    margin-top:1000px !important;
}


.collector-cart-table tr{
    padding:10px;
}
.collector-checkout-button-del {
    height:20px;
    width:15px;
    background-color:#fff;
    background-image:url(../img/span.png);
    float:right;
    margin-top:-22px;
    cursor:pointer;
}

#code{
    width:60%;
    height:26px;
    border-radius:3px;
}
#codeButton{
    width:36%;
    height:26px;
    border-radius:3px;
    background-color:#06A1DC;
    color:#fff;
    border:none;
    font-weight:bold;
    margin-left:10px;
}
#codeButton:hover {
    background-color: #00aeef;
}

/*Custom*/
.collector-checkout-name span {
    display: block;
}
div.col-cart-wrapper{
    margin:0 auto;
    width: 750px;
}
iframe#checkout {
    margin-top: 20px;
}
.collector-checkout-table-head{
    border-bottom: 2px solid #7c7c7c;
    padding-bottom: 10px;
}
.collector-checkout-product-row {
    width: 100%;
    padding: 10px 0px;
    float: left;
    border-bottom: 1px solid #7c7c7c;
    margin-bottom: 15px;
	min-height: 50px;
}
.collector-checkout-product-row .collector-checkout-name{
    margin-top: 0;
    float: left;
}
.collector-checkout-price {
    margin-top: 10px;
}
.collector-checkout-product-row .collector-checkout-name span {
    font-size: 14px;
    color: #7c7c7c;
    font-weight: 400;
	width: 300px; 
    word-wrap: break-word;
}
.collector-checkout-product-row .collector-checkout-name p{
    margin-bottom: 2px;
	width: 270px;
} 
table.totals td {
    padding: 3px 10px;
}
.collector-checkout-cart-table {
    float: left;
    width: 100%;
}
.collector-checkout-discount #code{
    border-color: #e2e2e2;
    height: 35px;
}
.collector-checkout-discount #codeButton{
    height: 35px;
    margin-left: 0px;
}
.checkoutWrapper #testMode{
    background-color: #f4f8fb !important;
    color: #737373;
}
.totals-table{    
	width: 62%;
    float: right;
	}
.collector-checkout-discount {
    margin-top: 0px;
    float: right;
    margin-bottom: 0px;
	width: 49%;
    padding-bottom: 10px;
}
.collector_shipping_methods {
     float: left;
}
.collector-checkout-img img {
    min-width: 80px;
}
.collector-checkout-img {
    padding-right: 10px;
}
.collector_shipping_methods .ship_methods .radio{
    display: none;
}
.collector_shipping_methods .ship_methods .radio + label {
    float: left;
    width: 100%;
}
.collector_shipping_methods .ship_methods .radio + label:before {
    content: "";
    height: 10px;
    width: 10px;
    border: 3px solid #c5edf7;
    margin-right: 10px;
    margin-top: 1px;
    display: inline-block;
    background-color: #c5edf7;
    border-radius: 50%;
    float: left;
}
.collector_shipping_methods .ship_methods .radio:checked + label:before{
    background-color: #7c7c7c;
}
.collector-checkout-product-row .collector-checkout-name ,.collector-checkout-sum ,.collector-checkout-price{
    font-size: 16px;
}
table.totals td.price {
    text-align: justify;
    text-align-last: right;
}
table.totals td.name {
    padding-left: 50px;
}
@media screen and (min-width: 992px){
    
}
@media screen and (max-width: 991px){
    div.col-cart-wrapper{
        width: 750px;
    }
    .collector-checkout-product-row .collector-checkout-name,.collector-checkout-sum ,.collector-checkout-price{
        font-size: 16px;
    }
    table.totals td.name {
        padding-left: 40px;
    }
}
	.area{
	left:-37%;
	position:relative;
	padding:0;
	} 
@media screen and (max-width: 767px){
    div.col-cart-wrapper{
        width: 100%;
    }
	.collector-cart-wrapper{ max-width: 512px;}
    .collector-checkout-discount #codeButton{
        margin-top: 10px;
    }
    .collector-checkout-product-row .collector-checkout-name, .collector-checkout-sum ,.collector-checkout-price{
        font-size: 14px;
    }
	.table-responsive{
		border:0;
	}
	.collector-checkout-qty-head {
    margin-top: -20px;
    margin-left: 68%;
}
.collector-checkout-qty {
    margin-top: 20px; 
    margin-left: 66%;
}
.collector-checkout-sum-head {
    /* margin-top: 20px; */
    color: #7c7c7c;
}
.collector-checkout-sum {
    margin-top: -50px;
    color: #7c7c7c;
}
.collector-checkout-product-row .collector-checkout-name p {
    margin-bottom: 2px;
    width: 190px;
    word-wrap: break-word;
    /* top: 0px; */
}
.collector-checkout-product-row .collector-checkout-name span {
    font-size: 14px;
    color: #7c7c7c;
    font-weight: 400;
    width: 270px;
    word-wrap: break-word;
}
.collector-checkout-price-head {
    display: none;
}
.collector-checkout-price{display: none;}

.collector-checkout-del-but {
margin-top: 0;

}
.area{
position:relative;
	left: -31%;
	}
	.totals-table {
    width: 70%;
    float: right;
	}
	.totals {
    width: 96.5%;
	}
	.collector-checkout-discount {
		    width: 84%;
    }
	.collector_shipping_methods{ width: 30%; }
	
}

@media screen and (max-width: 680px){
    /*.collector-checkout-cart-table{*/
    /*width: 550px !important;*/
    /*}*/
    /*div#collector-cart .table-responsive{*/
    /*overflow-x: auto;*/
    /*padding: 15px;*/
    /*border:1px solid #eaeaea;*/
    /*}*/
    #collector-cart .totals, .collector-checkout-discount{
        width: 100%;
        margin-bottom: 15px;
        }
		.collector_shipping_methods {
			 width: 100%;
			 margin:0px;
		}
		.totals-table { width: 100%; }
		.collector-checkout-qty {
            position: absolute;
            bottom: 0;
            left: 40px;
            margin: 5px;
        }
        .collector-checkout-product-row{
            padding-bottom: 70px;
            position: relative;
        }
        .collector-checkout-price {
            position: absolute;
            margin: 0;
            bottom: 0;
            right: 0;
        }

        .collector-checkout-del-but {
            float: right;
            display: block;
            height: auto;
            margin-top: 0;
            margin-right: 10px;
        } 
		.collector-checkout-button-del {            
            margin-top: 0;
        }
        .collector-checkout-sum {
            position: absolute;
            margin: 0 !important;
            bottom: 20px;
            right: 10px;
        }
	
        .collector-checkout-table-head > div{
            display: none;
        }
        .collector-checkout-img img{
            min-width: 110px;
        }
        .collector-checkout-price-head{
            display:none;
        }
        .collector-checkout-price{
            display:none;
        }
        table.totals td.name {
            padding-left: 0px;
        }
		.table-responsive{
		border:0;
	}
	.collector-checkout-product-row .collector-checkout-name span{
     font-size: 14px;
    color: #7c7c7c;
    font-weight: 400;
    width: 270px;
    word-wrap: break-word;
	}
	.collector-checkout-product-row .collector-checkout-name p {
    margin-bottom: 2px;
    width: 286px;
		}
    
	.area{
	position:relative;
	left: -62%;
	} 
	}
	
	
	
	/* Spinner container code - White panel with opacity 0.6 */
.area-spinner-container {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.6);
	width: 100%;
	height: 55%;
	top: 0;
	left: 0;
}

.is-suspended .area-spinner-container {
	display: block;
}


.spinner-animation {
	position: relative;
	font-size: 2em;
	height: 1em;
	padding: 25vh 0; /* Change this value to position the spinner */
	color: transparent;
    height: 100%;
    user-select: none;
}

.spinner-animation:before,
.spinner-animation:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 1em;
	height: 1em;
	margin: -0.5em 0 0 -0.5em;
	border: 0.1875em solid transparent;
	border-radius: 1em;
}

.spinner-animation:before {
	border-right-color: #dfdfdf;
	border-left-color: #dfdfdf;
}

.spinner-animation:after {
	border-top-color: #a8a8a8;
	border-bottom-color: #a8a8a8;
}

:not(.is-hidden) .spinner-animation:before {
	animation: spinner-rotation 1s linear infinite;
}

:not(.is-hidden) .spinner-animation:after {
	animation: spinner-rotation 0.8s linear infinite;
}

@keyframes spinner-rotation {
	from {
		transform: rotate( 0deg);
	}
	to {
		transform: rotate( 360deg);
	}
}
