<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<collector_campaign>
                <payment_action>authorize</payment_action>
				<active>1</active>
                <title>Collector Campaign</title>
				<model>Collector\Iframe\Model\Payment\Campaign</model>
				<order_status>pending</order_status>
				<title>Collector Campaign</title>
				<is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
				<group>collector</group>
			</collector_campaign>
			<collector_card>
                <payment_action>authorize</payment_action>
				<active>1</active>
                <title>Collector Card</title>
				<model>Collector\Iframe\Model\Payment\Card</model>
				<order_status>pending</order_status>
				<title>Card</title>
				<is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
				<group>collector</group>
			</collector_card>
			<collector_bank>
                <payment_action>authorize</payment_action>
				<active>1</active>
                <title>Collector Bank</title>
				<model>Collector\Iframe\Model\Payment\Bank</model>
				<order_status>pending</order_status>
				<title>Bank</title>
				<is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
				<group>collector</group>
			</collector_bank>
		</payment>
	</default>
</config>
